.button:hover {
    background: #dba134;
    background-image: -webkit-linear-gradient(top, #fdc03c, #dba134);
    background-image: -moz-linear-gradient(top, #fdc03c, #dba134);
    background-image: -ms-linear-gradient(top, #fdc03c, #dba134);
    background-image: -o-linear-gradient(top, #fdc03c, #dba134);
    background-image: linear-gradient(to bottom, #fdc03c, #dba134);
    transition-duration: 0.4s;
    text-decoration: none;
}

.button:active {
    background: #d36a09;
    background-image: -webkit-linear-gradient(top, #c76d31, #d36a09);
    background-image: -moz-linear-gradient(top, #c76d31, #d36a09);
    background-image: -ms-linear-gradient(top, #c76d31, #d36a09);
    background-image: -o-linear-gradient(top, #c76d31, #d36a09);
    background-image: linear-gradient(to bottom, #c76d31, #d36a09);
    transition-duration: 0.5s;
    text-decoration: none;
}

.button {
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    color:#ffffff;
    font-size: 20px;
    background: #dba134;
    padding: 5px 15px 5px 15px;
    text-align: center;
}

.header {
    color:orangered;
}

.answertext {
    color:orange;
}

.division {
    text-align: center;
}

body{
    width:300px;
    height:175px;
    text-align: center;

 }