cryptography==1.9
numpy==1.13.0
pandas==0.20.2
pandocfilters==1.4.2
pathlib2==2.3.0
pexpect==4.3.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pyasn1==0.2.3
pycparser==2.17
Pygments==2.2.0
pyOpenSSL==17.0.0
python-dateutil==2.6.1
pytz==2017.2
pyzmq==16.0.4
qtconsole==4.3.1
Quandl==3.1.0
requests==2.17.3
scandir==1.6
scikit-learn==0.18.1
six==1.11.0
sklearn==0.0
terminado==0.8.1
testpath==0.3.1
traitlets==4.3.2
urllib3==1.21.1
wcwidth==0.1.7
